.subsucribe-container>.container{
height: 90%;
margin-block: auto;
}


@media (max-width: 576px) {
    .subscribe-txt {
        font-size: 24px !important; 
    }

    .account {
        font-size: 14px !important;
    }
}