.password-changed-container{
    min-height: 100vh;
    background-image: url('/images/back1.png'), url('/images/back2.png');
    background-position: center right,bottom left; /* تحديد مواضع الصور */
    background-repeat: no-repeat, no-repeat; /* منع التكرار */
    background-size:auto ,auto /* ضبط حجم الصور */
}

.password-changed-container>.container{
    max-width: 645px;
}
.shield-img{
    width: 150px;
    height: 150px;
}
.icon-password{
    width: 30px;
    height: 30px;
}

@media (max-width:567px) {
    .password-changed-text>h3{
        color: #29292A;
        
        font-weight: 600;
    }
    
}